<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">LISTA DE PROYECTOS </a>
        <form class="form-inline">
            <!--Recordar cambiar en el imput el valor de name, este corresponde al valor que buscarà Search-->
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
</nav>
<br>
<table class="table">
    <thead>
        <tr>
            <th>NOMBRE DEL PROYECTO</th>
            <th>DESCRIPCION</th>
            <th>FECHA DE INICIO</th>
            <th>FECHA DE TERMINO</th>
            <th>ESTADO DEL PROYECTO</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |post|%>
            <tr>
                <td><%= post.name %></td>
                <td><%= post.description %></td>
                <td><%= post.start_date %></td>
                <td><%= post.end_date %></td>
                <td><%= post.estadopr %></td>
            </tr> 
        <% end %>
    </tbody>
</table>

